---
import { getI18N } from "../../i18n/index" 
import Layout from "../../layouts/Layout.astro"
import SubtitleItem from "../legalTerminos/SubtituloItem.astro"
import DescriptionItem from "../legalTerminos/DescripcionItems.astro"
import NavBarPrivacidadAndTerminos from "../util/NavBarPrivacidadAndTerminos.astro"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const H1_STYLES =
  "mx-auto mt-16 mb-4 text-wrap text-4xl font-semibold tracking-wide uppercase"
---

<Layout title=`${i18n.SEO.COOKIES_TITLE} &nbsp;${new Date().getFullYear()}` description={i18n.SEO.PRIVACY_POLICY_DESCRIPTION}>
   <NavBarPrivacidadAndTerminos />
  <main class="py-8">
    <section
      class="max-w-5xl mx-auto my-24 text-pretty px-6 text-left text-lg leading-relaxed sm:px-20"
    >
      <h1 class={H1_STYLES}>
        {i18n.LEGAL_NOTICE.TITLE}
      </h1>

      <!-- Access and use -->
      <SubtitleItem subtitle={i18n.LEGAL_NOTICE.ACCESS_AND_USE.TITLE} />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.ACCESS_AND_USE.DESCRIPTION_1}
      />
            

      <!-- Terms of use -->
      <SubtitleItem subtitle={i18n.LEGAL_NOTICE.TERMS_OF_USE.TITLE} />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.TERMS_OF_USE.DESCRIPTION_1}
      />
      

      <!-- Use of website and resposibility -->
      <SubtitleItem
        subtitle={i18n.LEGAL_NOTICE.USE_OF_WEBSITE_AND_RESPONSIBILITY.TITLE}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.USE_OF_WEBSITE_AND_RESPONSIBILITY
          .DESCRIPTION_1}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.USE_OF_WEBSITE_AND_RESPONSIBILITY
          .DESCRIPTION_2}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.USE_OF_WEBSITE_AND_RESPONSIBILITY
          .DESCRIPTION_3}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.USE_OF_WEBSITE_AND_RESPONSIBILITY
          .DESCRIPTION_4}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.USE_OF_WEBSITE_AND_RESPONSIBILITY
          .DESCRIPTION_5}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.USE_OF_WEBSITE_AND_RESPONSIBILITY
          .DESCRIPTION_6}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.USE_OF_WEBSITE_AND_RESPONSIBILITY
          .DESCRIPTION_7}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.USE_OF_WEBSITE_AND_RESPONSIBILITY
          .DESCRIPTION_8}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.USE_OF_WEBSITE_AND_RESPONSIBILITY
          .DESCRIPTION_9}
      />
     
      <!-- Intelectual and industrial property -->
      <SubtitleItem
        subtitle={i18n.LEGAL_NOTICE.INTELLECTUAL_AND_INDUSTRIAL_PROPERTY.TITLE}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.INTELLECTUAL_AND_INDUSTRIAL_PROPERTY
          .DESCRIPTION_1}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.INTELLECTUAL_AND_INDUSTRIAL_PROPERTY
          .DESCRIPTION_2}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.INTELLECTUAL_AND_INDUSTRIAL_PROPERTY
          .DESCRIPTION_3}
      />
     
      <!-- Thrid party links -->
      <SubtitleItem subtitle={i18n.LEGAL_NOTICE.THIRD_PARTY_LINKS.TITLE} />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.THIRD_PARTY_LINKS.DESCRIPTION_1}
      />
    
      <!-- Social networks -->
      <SubtitleItem subtitle={i18n.LEGAL_NOTICE.SOCIAL_NETWORKS.TITLE} />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.SOCIAL_NETWORKS.DESCRIPTION_1}
      />
      
      
      <!-- Site update -->
      <SubtitleItem subtitle={i18n.LEGAL_NOTICE.SITE_UPDATE.TITLE} />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.SITE_UPDATE.DESCRIPTION_1}
      />

      <!-- Web interoperability and funcionality -->
      <SubtitleItem
        subtitle={i18n.LEGAL_NOTICE.WEB_INTEROPERABILITY_AND_FUNCTIONALITY
          .TITLE}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.WEB_INTEROPERABILITY_AND_FUNCTIONALITY
          .DESCRIPTION_1}
      />

      <!-- Integrity -->
      <SubtitleItem subtitle={i18n.LEGAL_NOTICE.INTEGRITY.TITLE} />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.INTEGRITY.DESCRIPTION_1}
      />

      <!-- Applicable legislation and jurisdiction -->
    
      <p>
        <em>{i18n.LEGAL_NOTICE.MODIFICATIONS.LAST_UPDATE}</em>
      </p>
    </section>
  </main>

</Layout>